@model CartLine

<div class="row text-center col-xl-auto" style="margin-top: 15px">
    <input type="hidden" name="ProductID" />
    <div class="col-xl-4 text-center">@Model.Product.Title</div>
    <div class="col-xl-2 text-center">@Model.Product.Price.ToString("C")</div>
    <div class="col-xl-2 text-center">
        <div class="input-group">
            <a class="btn" 
               asp-action="DecreaseProductCount" 
               asp-controller="Cart" 
               asp-route-productId="@Model.Product.ProductId">
                <span class="fa fa-minus"></span>
            </a>
            <label class="text-center form-control border-0">@Model.Quantity</label>
            <a class="btn" 
               asp-action="AddToCart" 
               asp-controller="Cart" 
               asp-route-productId="@Model.Product.ProductId">
                <span class="fa fa-plus"></span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 text-center">
        <div class="float-right">
            <span class="pull-right" subtotal>
                @((Model.Quantity * Model.Product.Price).ToString("c"))
            </span>
        </div>
    </div>
    <div class="col-1">
        <div class="float-md-none">
            <form asp-action="RemoveFromCart" asp-controller="Cart" method="post">
                <input type="hidden" name="ProductId"
                       value="@Model.Product.ProductId" />
                <input type="hidden" name="returnUrl"
                       value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <button type="submit" class="btn btn-sm btn-danger">
                    <span class="fa fa-remove"></span>
                </button>
            </form>
        </div>
    </div>
</div>
<br />