@model Product
@{
    ViewData["Title"] = "Szczegóły produktu";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-5">
            <img src="\Images\47c9a5c20405494f828ad8d0d97a9b00.png" alt="@Model.Title">
        </div>
        <div class="col-7">
            <h2>
                @Model.Title - @Model.Author
            </h2>
            <h4>Thinner, Lighter, Faster. All in One Desktop</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident sunt in culpa.</p>
            <hr>
            <h3>Price - <del>$699</del> @Model.Price</h3>
            <p>Inclusive of all taxes. Free home delivery.</p>
            <br>
            <form id="@Model.ProductId" asp-action="AddToCart" asp-controller="Cart" method="post">
                <input type="hidden" name="productId" asp-for="@Model.ProductId"/>
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
                <div class="text-center">
                    <span class="card-text">
                        <button class="btn btn-success" type="submit">
                            <span class="fa fa-shopping-cart"></span>
                            Dodaj do koszyka
                        </button>
                    </span>
                </div>
                <div class="text-center">
                    <span class="card-text">
                        <a asp-area="" asp-controller="Opinion" asp-action="WriteOpinion" asp-route-productId="@Model.ProductId" class="btn btn-success">
                            <span class="fa fa-shopping-cart"></span>
                            Napisz opinię
                        </a>
                    </span>
                </div>
            </form>
        </div>
    </div>
    
    <br/>
    
    <div id="navbar">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#description" role="tab" aria-expanded="True">Opis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Training, Clearance & Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#opinions" role="tab">Opinie</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade" id="description" name="description" role="tabpanel">
                sdsadsa
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel">
                dasd
            </div>
            <div class="tab-pane fade" id="opinions" name="opinions" role="tabpanel">
                dsads
            </div>
        </div>
    </div>

</div>