@model IEnumerable<Product>
@{
    ViewData["Title"] = "Wszystkie książki";
}

<div class="text-center">
    <h4>Wszystkie książki</h4>
</div>

<table class="table table-bordered table-hover table-sm" role="grid">
    <tr>
        <th>Nazwa</th>
        <th>Description</th>
        <th>Cena</th>
        <th>Kategoria</th>
        <th></th>
    </tr>

    @if (!Model.Any())
    {
        <tr><td colspan="5" class="text-center">Brak książek</td></tr>
    }
    else
    {
        foreach (Product p in Model)
        {
            <tr>
                <td>@p.Title</td>
                <td>@p.Description</td>
                <td>@p.Price</td>
                <td>@p.Category</td>
                <td>
                    <form asp-action="Delete" asp-antiforgery="true" method="post">
                        <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-productId="@p.ProductId">
                            Edytuj
                        </a>
                        <input type="hidden" name="ProductID" value="@p.ProductId">
                        <button type="submit" class="btn btn-danger btn-sm">
                            Usuń
                        </button>
                    </form>
                </td>
            </tr>
        }
    }
</table>

<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Dodaj produkt</a>
</div>