@model IEnumerable<Product>
@{
    ViewBag.Title = "Products";
}

@if (Model != null)
{
    <section>
        <div class="box-body table-responsive">
            <table class="table table-bordered table-hover" role="grid">
                <tr>
                    <th>Nazwa</th>
                    <th>Description</th>
                    <th>Cena</th>
                    <th>Kategoria</th>
                    <th></th>
                </tr>
                @foreach (Product p in Model)
                {
                    <tr>
                        <td>@p.Title</td>
                        <td>@p.Description</td>
                        <td>@p.Price</td>
                        <td>@p.Category</td>
                        <td>
                            <form asp-action="Delete" method="post">
                                <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-productId="@p.ProductId">
                                    Edytuj
                                </a>
                                <input type="hidden" name="ProductID" value="@p.ProductId">
                                <button type="submit" class="btn btn-danger btn-sm">
                                    Usuń
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </section>
}
<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Dodaj produkt</a>
</div>