@model IEnumerable<Order>
@{
    ViewData["Title"] = "Zamówienia";
}

<div class="text-center">
    <h4>@ViewData["status"] zamówienia</h4>
</div>

<table class="table table-bordered table-hover table-sm" role="grid">
    <tr>
        <th>ID</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Status</th>
        <th>Zapakowane</th>
        <th>Numer przesyłki</th>
        <th colspan="2"></th>
    </tr>

    @if (!Model.Any())
    {
        <tr><td colspan="7" class="text-center">Brak zamówień</td></tr>
    }
    else
    {
        foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.Customer.Name</td>
                <td>@order.Customer.Surname</td>
                <td>@order.Status.GetDescription()</td>
                <td>@order.GiftWrap</td>
                <td>@(@order.TrackingNumber ?? "brak numeru") <a asp-area="Admin" asp-controller="Order" asp-action="AddTrackingNumber" asp-route-orderId="@order.OrderId"><i class="fas fa-edit"></i></a></td>
                
                <td><a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-orderId="@order.OrderId">Szczegóły</a></td>
                <td><a asp-area="Admin" asp-controller="Order" asp-action="Edit" asp-route-orderId="@order.OrderId">Zmień status</a></td>
            </tr>
        }
    }

</table>