@using Microsoft.EntityFrameworkCore.Internal
@model List<DeliveryMethod>

<div class="col-xl-12">
    <h2 class="fs-title text-center">Sposób dostawy</h2>
    <div class="radio-group">

        @foreach (var item in @Model)
        {
            if (item.DeliveryMethodId == 1)
            {
                <label>
                    <edit asp-for="@item.DeliveryMethodId" model-for="@Model" type="radio" ram value="@item.DeliveryMethodId" onclick="hideOrShowPaymentMethodsAndAddressForm();" checked="checked"/>
                    @item.Name
                </label>
            }
            else
            {
                <label>
                    <edit asp-for="@item.DeliveryMethodId" type="radio" ram value="@item.DeliveryMethodId" onclick="hideOrShowPaymentMethodsAndAddressForm();"/>
                    @item.Name
                </label>
            }
        }       
     </div>
</div>

@foreach (var item in @Model)
{
    if (item.DeliveryMethodId == 1)
    {
        <div class="col-xl-12" id="@item.DeliveryMethodId" style="display: block;">
            <h2 class="fs-title text-center">Płatność</h2>
            <div class="radio-group">
                @foreach (var subItem in item.PaymentMethods)
                {
                    if (item.PaymentMethods.IndexOf(subItem) == 0)
                    {
                        <label>
                            <edit asp-for="@subItem.PaymentMethodId" type="radio" ram value="@subItem.PaymentMethodId" checked="checked"/>
                            <label class="form-check-label" id="deliveryMethod">@subItem.PaymentMethod.Name (@subItem.PaymentMethod.Price zł)</label>
                        </label>
                    }
                    else
                    {
                        <label>
                            <edit asp-for="@subItem.PaymentMethodId" type="radio" ram value="@subItem.PaymentMethodId"/>
                            <label class="form-check-label" id="deliveryMethod">@subItem.PaymentMethod.Name (@subItem.PaymentMethod.Price zł)</label>
                        </label>
                    }
                }
            </div>
        </div>
    }
    else
    {
        <div class="col-xl-12" id="@item.DeliveryMethodId" style="display: none;">
            <h2 class="fs-title text-center">Płatność</h2>
            <div class="radio-group">
                @foreach (var subItem in item.PaymentMethods)
                {
                    <label>
                        <edit asp-for="@subItem.PaymentMethodId" type="radio" ram value="@subItem.PaymentMethodId" />
                        <label class="form-check-label" id="deliveryMethod">@subItem.PaymentMethod.Name (@subItem.PaymentMethod.Price zł)</label>
                    </label>
                }
            </div>
        </div>
    }
}