@model AuthorListViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h4>Lista autorów</h4>
</div>

<table class="table table-bordered table-hover table-sm" role="grid">
    <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Biografia</th>
        <th>Liczba pozycji</th>
        <th></th>
    </tr>

    @if (!Model.Authors.Any())
    {
        <tr><td colspan="5" class="text-center">Brak autorów</td></tr>
    }
    else
    {
        foreach (Author p in Model.Authors)
         {
             <tr>
                 <td>@p.Name</td>
                 <td>@p.Surname</td>
                 <td>@p.Notes</td>
                 <td>@p.Products.Count</td>
                 <td>
                     <form asp-action="Delete" method="post">
                         <a asp-controller="Author" asp-action="Books" class="btn btn-sm btn-info"
                            asp-route-authorId="@p.AuthorId">
                             Wyświetl książki
                         </a>
                         <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-authorId="@p.AuthorId">
                             Edytuj
                         </a>
                         <input type="hidden" name="AuthorId" value="@p.AuthorId">
                         <button type="submit" class="btn btn-danger btn-sm">
                             Usuń
                         </button>
                     </form>
                 </td>
             </tr>
         }
    }
</table>

<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Dodaj autora</a>
</div>

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary" class="btn-group float-left m-1">
</div>