@model IEnumerable<Author>
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>Lista autorów</h2>

@if (Model.Any())
{
    <table class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Notes</th>
            <th></th>
        </tr>
        @foreach (Author author in Model)
        {
            <tr>
                <td>@author.Name</td>
                <td>@author.Surname</td>
                <td>@author.Notes</td>
                <td>
                    @*<form asp-action="Delete" method="post">
                        <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-productId="@p.ProductId">
                            Edytuj
                        </a>
                        <input type="hidden" name="ProductID" value="@p.ProductId">
                        <button type="submit" class="btn btn-danger btn-sm">
                            Usuń
                        </button>
                    </form>*@
                </td>
            </tr>
        }

    </table>
}
