@model Order

<p>Składanie zamówienia</p>

<form asp-action="Checkout" asp-antiforgery="true" method="post">
    <div class="form-group">
        <div><span asp-validation-for="@Model.Customer.Name"></span></div>
        <label>Imię:</label><input asp-for="@Model.Customer.Name" class="form-control" />
    </div>
    <div class="form-group">
        <span asp-validation-for="@Model.Customer.Surname"></span>
        <label>Nazwisko:</label><input asp-for="@Model.Customer.Surname" class="form-control" />
    </div>
    <div class="form-group">
        <span asp-validation-for="@Model.DeliveryAddress.City"></span>
        <label>Miasto:</label><input asp-for="@Model.DeliveryAddress.City" class="form-control" />
    </div>
    <div class="form-group">
        <span asp-validation-for="@Model.DeliveryAddress.ZipCode"></span>
        <label>Kod pocztowy:</label><input asp-for="@Model.DeliveryAddress.ZipCode" class="form-control" />
    </div>
    <div class="form-group">
        <span asp-validation-for="@Model.DeliveryAddress.Country"></span>
        <label>Kraj:</label><input asp-for="@Model.DeliveryAddress.Country" class="form-control" />
    </div>
    <div class="custom-checkbox">
        <label>
            <input asp-for="GiftWrap"/> Zapakować jako prezent
        </label>
    </div>
    <div class="text-center">
        <input class="btn btn-secondary" type="submit" value="Złóż zamówienie"/>
    </div>
</form>