@model Order
<style type="text/css">
    .form-check-input-reverse{
        margin-left: 10px;
    }
</style>

<div class="orderContainer">
    <div class="row mt-0">
        <div class="col-xl-12 p-0 mt-3 mb-2">
            <div class="card px-0 text-center pt-4 pb-0 mt-3 mb-3">
                <h2><strong>Formularz zamówienia</strong></h2>
                <p>Uzupełnij wszystkie wymagane pola, aby przejść do kolejnego kroku</p>
                <div class="row">
                    <div class="col-xl-12 mx-0">
                        <div id="msform">
                            <ul class="progressbar" id="progressbar" class="text-center">
                                <li class="active fas fa-shopping-cart">Koszyk</li>
                                <li class="active fas fa-user">Dostawa i płatność</li>
                                <li class="fa fa-credit-card">Podsumowanie</li>
                                <li class="fas fa-check">Potwierdzenie</li>
                            </ul>
                            <br />
                            <form asp-area="" asp-controller="Order" asp-action="Checkout" asp-antiforgery="true" method="post">
                                <fieldset class="col-xl-12" id="fieldset1">

                                   @await Component.InvokeAsync("PaymentDeliveryMethod")

                                    <div id="personData">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <h2 class="fs-title text-center">Dane osobowe</h2>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label asp-for="@Model.Customer.Name"></label>
                                                    <input asp-for="@Model.Customer.Name" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="@Model.Customer.Surname"></label>
                                                    <input asp-for="@Model.Customer.Surname" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label asp-for="@Model.Customer.PhoneNumber"></label>
                                                    <input asp-for="@Model.Customer.PhoneNumber" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="@Model.Customer.Email"></label>
                                                    <input asp-for="@Model.Customer.Email" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <h2 class="fs-title text-center">Dodatkowe informacje</h2>
                                            </div>
                                            <div class="form-group col-xl-12" style="line-height: 12px">
                                                <input class="form-check-input-reverse" type="checkbox" asp-for="@Model.GiftWrap" />
                                                <label class="form-check-label">
                                                    Zapakuj jako prezent
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="address" style="display: none">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <h2 class="fs-title text-center">Adres dostawy</h2>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label asp-for="@Model.DeliveryAddress.Country"></label>
                                                    <input asp-for="@Model.DeliveryAddress.Country" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="@Model.DeliveryAddress.HomeNumber"></label>
                                                    <input asp-for="@Model.DeliveryAddress.HomeNumber" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label asp-for="@Model.DeliveryAddress.ZipCode"></label>
                                                    <input asp-for="@Model.DeliveryAddress.ZipCode" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="@Model.DeliveryAddress.City"></label>
                                                    <input asp-for="@Model.DeliveryAddress.City" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a asp-area="" asp-controller="Cart" asp-action="Index" class="btn btn-info custom">Wstecz</a>
                                    <a class="next btn btn-info custom text-white" id="next1" onclick="validatePersonDataAndPrepareSummary()">Dalej</a>
                                </fieldset>
                                <fieldset class="col-xl-12" id="summaryFieldset">
                                    <partial name="OrderSummary" for="@Model"/>
                                </fieldset>
                                <fieldset class="col-xl-12">
                                    <div class="form-group">
                                        <h2 class="fs-title text-center">Potwierdzenie</h2> <br><br>
                                        
                                        <div class="row justify-content-center">
                                            <div class="col-7 text-center">
                                                <h5>Złóż zamówienie klikając w poniższy przycisk</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success custom">Zamów</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>