@model IEnumerable<NavbarItem>
<style type="text/css">.dropdown-width {
     min-width: 450px;
 }</style>

@foreach (var item in Model)
{
    if (!item.IsParent && item.ParentId == -1)
    {
        <li class="nav-item active">
            <a class="nav-link text-white" asp-action="@item.Action" asp-controller="@item.Controller">@item.NameOption</a>
        </li>
    }
    else if (item.IsParent && item.ParentId == -1)
    {
        var childItems = Model.Where(p => p.ParentId == item.Id).ToList();
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" asp-action="@item.Action" asp-controller="@item.Controller"
               id="dropdown_unternehmen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @item.NameOption
            </a>

            <div class="dropdown-menu dropdown-width" aria-labelledby="dropdown_unternehmen">
                <div class="row col-12">
                    <div class="col-6">
                        <div class="multi-column-dropdown">
                            @for (int i = 0; i < (childItems.Count + 1) / 2; i++)
                            {
                                <a class="dropdown-item" asp-action="@childItems[i].Action" asp-controller="@childItems[i].Controller">@childItems[i].NameOption</a>
                            }
                        </div>
                    </div>
                    <div class="col-6">
                        @for (int i = (childItems.Count + 1) / 2; i < childItems.Count; i++)
                        {
                            <a class="dropdown-item" asp-action="@childItems[i].Action" asp-controller="@childItems[i].Controller">@childItems[i].NameOption</a>
                        }
                    </div>
                </div>
            </div>
        </li>
    }
}