@model AccountListViewModel
@{
    ViewData["Title"] = "Wszystkie konta";
}
<div class="text-center">
    <h4>Konta użytkowników</h4>
</div>

<table class="table table-bordered table-hover table-sm" role="grid">
    <tr><th>ID</th><th>Imię</th><th>Email</th></tr>
    @if (!Model.Accounts.Any())
    {
        <tr><td colspan="3" class="text-center">Brak kont użytkowników</td></tr>
    }
    else
    {
        foreach (AppUser user in Model.Accounts)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@user.Id" asp-antiforgery="true" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="Edit"
                           asp-route-id="@user.Id">Edytuj</a>
                        <button type="submit"
                                class="btn btn-sm btn-danger">
                            Usuń
                        </button>
                    </form>
                </td>
            </tr>
        }
    }
</table>
<div class="text-center">
    <a class="btn btn-primary" asp-action="Create">Dodaj użytkownika</a>
</div>

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary" class="btn-group float-left m-1">
</div>

